.body{
   border-radius: 5px;
}

#info{
  background-color: rgb(204, 255, 204)  ;
}

#about {
  background-color: Aquamarine  ;
}

#contact {
  font-weight: bold;
  background-color: #fff2e6   ;
  background-size: cover;
}

#projects {
  background-color: #ccebff ;
}

#certs{
  
 background-color:#f0f0f5 ;
}

.other-color {
  background-color: white;
}

.top-buffer {
  margin-top: 100px;
}

.buffer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.bottom-buffer {
  margin-bottom: 100px;
}

.big-buffer {
  margin-top: 250px;
  margin-bottom: 250px;
}

a{
  
  color:Black;
  
}
